/* project fonts import */
/* Todas as fonts do projeto estão importadas aqui */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=REM:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* project colors */
    --gray-brackground: #14151B;
    --green-background: #49895C;
    --blue-widget-background: #1E2530;
    --black-nav-background: #000;
    --white-text-hover: #cdd4da;
    /* project fonts */
    --menu-font: "Plus Jakarta Sans", sans-serif;
    --nav-and-login-font: "REM", sans-serif;
    --widgets-font: "Instrument Sans", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
}

/* Global style */
* {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    background-color: var(--gray-brackground);
}

/* Todas as telas criadas devem ter um comentario em cima escrito o nome da tela e um style após */
/* BASE HTML STYLE */
nav {
    display: flex;
    background-color: var(--black-nav-background);
    height: 6vh;
    align-items: center;
    padding: 0 0 0 1.25vw;
}

.tittle-nav {
    font-family: var(--nav-and-login-font);
    font-weight: 300;
    text-decoration: underline;
    font-size: 2rem;
}

.button-navbar {
    all: unset;
    cursor: pointer;
    font-family: var(--nav-and-login-font);
    font-weight: 200;
    font-size: 1.3rem;
    padding: 0 0 0 2vw;
    transition: color 200ms, transform 200ms, text-decoration;
}

.button-navbar:hover {
    color: var(--white-text-hover);
    transform: scale(1.05);
}

/* Elementos Tela Login */
.background-login {
    display: flex;
    margin: 1.25vw;
}

.background-login>div {
    padding: 5vw;
}

.white-button,
.black-button {
    font-family: "Plus Jakarta Sans";
    display: inline-block;
    padding: 1vw;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid;
    box-sizing: border-box;
}

/* Estilo do botão branco */
.white-button {
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
}

/* Estilo do botão preto */
.black-button {
    background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
}

/* Efeito hover invertido */
.white-button:hover {
    background-color: #000000;
    color: #ffffff;
}

.black-button:hover {
    background-color: #ffffff;
    color: #000000;
}

.form-input {
    width: 25vw; /* Largura do input */
    padding: 1vw; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda */
    border-radius: 8px; /* Cantos arredondados */
    background-color: #333; /* Fundo do input */
    color: #999; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    outline: none; /* Remove o contorno padrão do foco */
    transition: border 0.3s; /* Transição suave para a borda */
}

.form-input::placeholder {
    color: #999; /* Cor do placeholder */
}

.form-input:focus {
    border: 1px solid #fff; /* Borda branca no foco */
}