<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPARCQ</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- Import dos icones -->
    <script src="https://kit.fontawesome.com/6d56094b7a.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="nav-base-aside">
       <h1 class="tittle-nav">
        SPARCQ
       </h1>
       <div>
        <input type="text" name="" id="">
       </div>
    </nav>
    
    {% block content %}
    <!-- Aqui irá o conteúdo das outras páginas -->
    {% endblock content%}

    <footer>

    </footer>
</body>

</html>