{% extends 'base.html' %} 

{% block content %}
<main class="background-login">
  <form class="container-form" action="{{ url_for('loginPage') }}" method="post">
    <h1>FAZER LOGIN</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert-message">
          {{ messages[0] }}
        </div>
      {% endif %}
    {% endwith %}

    <div class="input-email">
      <label for="email" class="form-label">E-mail:</label><br />
      <input
        class="form-input"
        id="email"
        name="email"
        type="email"
        required
        placeholder="exemplo@email.com"
      />
    </div>

    <br />

    <div class="input-password">
      <label for="password" class="form-label">Senha:</label><br />
      <input
        class="form-input"
        id="password"
        name="password"
        type="password"
        required
        placeholder="••••••••••••••"
      />
    </div>

    <br />

    <div class="container-btn-login">
      <button type="submit" id="btn-login" class="white-button">Entrar</button>
    </div>
  </form>
</main>
{% endblock content %}