<!DOCTYPE html>
<html lang="pt-br">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>

<body>
 <main class="background-menu">
  <div class="container-tittle">
   <h1 class="tittle-menu">Serviços</h1>
  </div>
  <a class="button-menu" href="/">
   <i class="icon-button">ICONE EXEMPLO</i>
   <h2 class="text-button-menu">Monitoramento</h2>
  </a>
  <div class="container-buttons">
   <a class="button-menu" href="/">
    <i class="icon-button">ICONE EXEMPLO</i>
    <h2 class="text-button-menu">Registro</h2>
   </a>
   <a class="button-menu" href="/">
    <i class="icon-button">ICONE EXEMPLO</i>
    <h2 class="text-button-menu">Sensores</h2>
   </a>
   <a class="button-menu" href="/">
    <i class="icon-button">ICONE EXEMPLO</i>
    <h2 class="text-button-menu">Solicitações</h2>
   </a>
   <a class="button-menu" href="/">
    <i class="icon-button">ICONE EXEMPLO</i>
    <h2 class="text-button-menu">Usuários</h2>
   </a>
  </div>
 </main>
</body>

</html>