{% extends 'base.html' %}
{% block content %}
<main class="background-login">
  <form class="container-form" action="" method="post">
    <h1>ATUALIZAR A SENHA</h1>

    <div class="input-password">
      <label for="password" class="form-label">Nova Senha:</label><br>
      <input
        class="form-input"
        id="password"
        name="senha"
        type="password"
        required
        placeholder="••••••••••••••"
      />
    </div>

    <br>

    <div class="input-confirm-password">
      <label for="confirm-password" class="form-label">Confirmar Senha:</label><br>
      <input
        class="form-input"
        id="confirm-password"
        name="confirmacao-senha"
        type="password"
        required
        placeholder="••••••••••••••"
      />
    </div>

    <br>

    <div class="button-group" style="text-align: center">
      <a id="btn-update" class="white-button" href="/loginPage">
        Atualizar
      </a>
      <a id="btn-register" class="black-button" href="/loginPage">
        Voltar
      </a>
    </div>
  </form>
</main>
{% endblock content %}
