{% extends 'base.html' %} {% block content %}
<main class="background-request">
  <div class="container-request">
    <div class="top-section">
      <div class="avatar-request">
        <img
          src="{{ url_for('static', filename='assets/avatar.png') }}"
          alt="Preview de avatar"
          id="avatarPreview"
        />
      </div>
      <div class="details-request">
        <div class="detail-item"><h3>Lorinet Sit Amet</h3></div>
        <div class="detail-item">525.256.631-05</div>
        <div class="detail-item">lorinetSensei2006@yahoo.com</div>
      </div>
    </div>
    <div class="request-group-buttons">
      <button class="green-button">Aceitar</button>
      <button class="red-button">Recusar</button>
    </div>
  </div>
  <div class="container-request">
    <div class="top-section">
      <div class="avatar-request">
        <img
          src="{{ url_for('static', filename='assets/avatar.png') }}"
          alt="Preview de avatar"
          id="avatarPreview"
        />
      </div>
      <div class="details-request">
        <div class="detail-item"><h3>Lorinet Sit Amet</h3></div>
        <div class="detail-item">525.256.631-05</div>
        <div class="detail-item">lorinetSensei2006@yahoo.com</div>
      </div>
    </div>
    <div class="request-group-buttons">
      <button class="green-button">Aceitar</button>
      <button class="red-button">Recusar</button>
    </div>
  </div>
</main>

{% endblock content %}
