{% extends 'asideBase.html' %} {% block content %}
<main class="background-main-request">

  <div class="container-request">
    <div class="top-section">
      <div class="avatar-request">
        <img src="{{ url_for('static', filename='assets/avatar.png') }}" alt="Preview de avatar" id="avatarPreview" />
      </div>
      <div class="details-request">
        <div class="detail-item"><h3>Lorinet Sit Amet</h3></div>
        <div class="detail-item">123.456.789-00</div>
        <div class="detail-item">lorinet@ipsumlorem.com</div>
        <div class="detail-item">Feminino</div>
      </div>
    </div>
    <div class="request-group-buttons">
      <button class="green-button">Aceitar</button>
      <button class="red-button">Recusar</button>
    </div>
  </div>

  <div class="container-request">
    <div class="top-section">
      <div class="avatar-request">
        <img src="{{ url_for('static', filename='assets/avatar.png') }}" alt="Preview de avatar" id="avatarPreview" />
      </div>
      <div class="details-request">
        <div class="detail-item"><h3>Dolor Ipsum Vectis</h3></div>
        <div class="detail-item">987.654.321-11</div>
        <div class="detail-item">dolor.ipsum@latinmail.com</div>
        <div class="detail-item">Masculino</div>
      </div>
    </div>
    <div class="request-group-buttons">
      <button class="green-button">Aceitar</button>
      <button class="red-button">Recusar</button>
    </div>
  </div>

  <div class="container-request">
    <div class="top-section">
      <div class="avatar-request">
        <img src="{{ url_for('static', filename='assets/avatar.png') }}" alt="Preview de avatar" id="avatarPreview" />
      </div>
      <div class="details-request">
        <div class="detail-item"><h3>Consectetur Elit Magna</h3></div>
        <div class="detail-item">741.852.963-22</div>
        <div class="detail-item">elit.consectetur@dolor.org</div>
        <div class="detail-item">Feminino</div>
      </div>
    </div>
    <div class="request-group-buttons">
      <button class="green-button">Aceitar</button>
      <button class="red-button">Recusar</button>
    </div>
  </div>

  <div class="container-request">
    <div class="top-section">
      <div class="avatar-request">
        <img src="{{ url_for('static', filename='assets/avatar.png') }}" alt="Preview de avatar" id="avatarPreview" />
      </div>
      <div class="details-request">
        <div class="detail-item"><h3>Adipiscing Tempor Nunc</h3></div>
        <div class="detail-item">369.258.147-33</div>
        <div class="detail-item">tempor.adipiscing@nuncmail.com</div>
        <div class="detail-item">Masculino</div>
      </div>
    </div>
    <div class="request-group-buttons">
      <button class="green-button">Aceitar</button>
      <button class="red-button">Recusar</button>
    </div>
  </div>

  <div class="container-request">
    <div class="top-section">
      <div class="avatar-request">
        <img src="{{ url_for('static', filename='assets/avatar.png') }}" alt="Preview de avatar" id="avatarPreview" />
      </div>
      <div class="details-request">
        <div class="detail-item"><h3>Velit Auctor Porta</h3></div>
        <div class="detail-item">112.334.556-77</div>
        <div class="detail-item">auctor.velit@porta.net</div>
        <div class="detail-item">Masculino</div>
      </div>
    </div>
    <div class="request-group-buttons">
      <button class="green-button">Aceitar</button>
      <button class="red-button">Recusar</button>
    </div>
  </div>

  <div class="container-request">
    <div class="top-section">
      <div class="avatar-request">
        <img src="{{ url_for('static', filename='assets/avatar.png') }}" alt="Preview de avatar" id="avatarPreview" />
      </div>
      <div class="details-request">
        <div class="detail-item"><h3>Fringilla Sapien Leo</h3></div>
        <div class="detail-item">778.899.001-23</div>
        <div class="detail-item">fringilla.leo@sapienmail.org</div>
        <div class="detail-item">Feminino</div>
      </div>
    </div>
    <div class="request-group-buttons">
      <button class="green-button">Aceitar</button>
      <button class="red-button">Recusar</button>
    </div>
  </div>

  <div class="container-request">
    <div class="top-section">
      <div class="avatar-request">
        <img src="{{ url_for('static', filename='assets/avatar.png') }}" alt="Preview de avatar" id="avatarPreview" />
      </div>
      <div class="details-request">
        <div class="detail-item"><h3>Nulla Vehicula Varius</h3></div>
        <div class="detail-item">556.677.889-44</div>
        <div class="detail-item">nulla.vehicula@varius.co</div>
        <div class="detail-item">Masculino</div>
      </div>
    </div>
    <div class="request-group-buttons">
      <button class="green-button">Aceitar</button>
      <button class="red-button">Recusar</button>
    </div>
  </div>

</main>
{% endblock content %}
