<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>SPARCQ</title>
 <link rel="stylesheet" href="../static/style.css">
 <!-- Import dos icones -->
 <script src="https://kit.fontawesome.com/6d56094b7a.js" crossorigin="anonymous"></script>
</head>

<body>
 <main class="background-service">
  <nav class="nav-service">
   <div>
    <h1>SPARCQ</h1>
   </div>
   <div>
    <div>
     <h3>Search</h3>
    </div>
    <i class="fa-solid fa-magnifying-glass"></i>
   </div>
   <div>
    <div>
     <h1>carregando...</h1>
    </div>
    <div>
     <p>dia</p>
     <p>Horario de brasilia</p>
    </div>
   </div>

  </nav>

 </main>

</body>

</html>